.main {
  float: left;
}

.web {
  /* width: 400px; */
  padding: 20px;
  margin-bottom: 30px;
  text-align: center;
  border: 2px solid lightslategray;
  border-radius: 8px;
  float: left;
  margin-left: 20px;
}
